<div class="container">
  <h3>New Post</h3>
<form id="new_post" action="/" method="post">
  <label for="title">Title</label>
  <input type="text" name="title">
  <textarea name="content">
  </textarea>
  <label for="tag">Tag</label>
  <input type="text" name="tag">
  <input type="submit" id="submit">
</form>
  <a style="float:left;clear:both;margin-top:20px" href="/">Home</a>
</div>